
.picture{

width: 100%;	
height: 400px;
left: 1px;
top: 78px;
}

.logotip{
	margin-left: 300px;
}

.caruselka{
	height: 1050px;
}

.zagolovok{
	font-size: 30px;
	margin-left: 40px;
	color:white;
}

h4{
	color:blue;
}
.pp{
	background-color:DeepSkyBlue;
}

.twiter{
	color:DeepSkyBlue;
}

.otstup{
	margin-top: 50px;
}